In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np
import os
import fiona
from datetime import datetime

In [9]:
df = pd.read_csv(r'C:\Users\ywang\Documents\Files_for_Py\BASIS\BOC\outputs\p10_plu_boc_allAttrs.csv')

In [10]:
df.shape

(1956208, 44)

In [12]:
def countMissing(df,field):
    missing = df.loc[df[field].isnull()].shape[0]
    print('For ' + i + ': ',f'{int(missing):,}', ' parcels miss allowed development type')

In [14]:
devType = ['HM','MR','HS','RS','OF','IW','IL','IH','HT','HO','SC','RB','MT','ME']
for i in [x+'_18' for x in devType]:
    countMissing(df,i)

For HM_18:  233,111  parcels miss allowed development type
For MR_18:  233,111  parcels miss allowed development type
For HS_18:  227,036  parcels miss allowed development type
For RS_18:  233,111  parcels miss allowed development type
For OF_18:  233,011  parcels miss allowed development type
For IW_18:  233,093  parcels miss allowed development type
For IL_18:  227,839  parcels miss allowed development type
For IH_18:  233,054  parcels miss allowed development type
For HT_18:  227,051  parcels miss allowed development type
For HO_18:  233,111  parcels miss allowed development type
For SC_18:  233,085  parcels miss allowed development type
For RB_18:  233,607  parcels miss allowed development type
For MT_18:  233,111  parcels miss allowed development type
For ME_18:  233,173  parcels miss allowed development type

In [21]:
for i in devType:
    df[i+'_idx'] = 'BASIS'
    missing_idx = df[i+'_18'].isnull()
    df.loc[missing_idx,(i+'_18')] = df.loc[missing_idx,(i+'_10')]
    df.loc[missing_idx,(i+'_idx')] = 'PBA40'

In [22]:
for i in [x+'_18' for x in devType]:
    countMissing(df,i)

For HM_18:  942  parcels miss allowed development type
For MR_18:  942  parcels miss allowed development type
For HS_18:  929  parcels miss allowed development type
For RS_18:  942  parcels miss allowed development type
For OF_18:  942  parcels miss allowed development type
For IW_18:  942  parcels miss allowed development type
For IL_18:  936  parcels miss allowed development type
For IH_18:  935  parcels miss allowed development type
For HT_18:  929  parcels miss allowed development type
For HO_18:  942  parcels miss allowed development type
For SC_18:  942  parcels miss allowed development type
For RB_18:  942  parcels miss allowed development type
For MT_18:  942  parcels miss allowed development type
For ME_18:  942  parcels miss allowed development type

In [24]:
df[[x+'_idx' for x in devType]]

,HM_idx,MR_idx,HS_idx,RS_idx,OF_idx,IW_idx,IL_idx,IH_idx,HT_idx,HO_idx,SC_idx,RB_idx,MT_idx,ME_idx
0,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS
1,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS
2,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS
3,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS
4,PBA40,PBA40,PBA40,PBA40,PBA40,PBA40,PBA40,PBA40,PBA40,PBA40,PBA40,PBA40,PBA40,PBA40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1956203,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS
1956204,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS
1956205,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS
1956206,PBA40,PBA40,PBA40,PBA40,PBA40,PBA40,PBA40,PBA40,PBA40,PBA40,PBA40,PBA40,PBA40,PBA40
1956207,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS,BASIS